

/* lottie animation*/

.happy-face{
    background-color: #020202;
}


/* foto */
.foto-div {
    position: relative;
    width: 100%;
}

.foto-img {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center; 
    margin: auto;
}



// About text

.about-div {
    position: relative;
    height: 28rem;
    color: whitesmoke;
    flex-direction: column;
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: var(--font-main);
    font-size: var(--font-size-text);
}


// Splitter

.splitter-div{
    position: relative;
    display: flex;
    justify-content: center;

}

.splitter-class {
    
    position: absolute;
    margin: 0;
    color: whitesmoke;
    border-radius: 5px;
    width: 85%;
    border-top: 0px solid;
    opacity: 100%;
}


// Navigation Tab


.Navigation-Container {

    color: whitesmoke;
    position: relative;
    display: flex;
    font-size: 1.2rem;
    width: 100%;
    height: 7rem;
    justify-content: center;
    cursor: pointer;
    font-family: var(--font-main);
    font-size: var(--font-size-accent);

    ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding-left: 0;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
        
    ul li{
        margin-left: 1rem;
        margin-right: 1rem;
        
    transition: all 0.02s ease-in-out;
    }
    li a{
        color: whitesmoke;
        text-decoration: none;
    }
}





// Resume Tab


.Resume-Container{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.resume-text {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #F4F4F4;
    margin-bottom: 0;
    margin-top: 0;

    font-family: var(--font-main);
    font-size: var(--font-size-text);
}

a:link {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
}


.icon-div-top{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.icon-div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}



.email-icon{
    width: 1.5rem;
    margin-right: 0.5rem;    width: 1.5rem;
    margin-right: 0.5rem;
}

.linkedin-icon{
    width: 1.5rem;
    margin-right: 0.5rem;
}

.cv-icon{
    width: 1.7rem;
    margin-right: 0.5rem;
}

.location-icon{
    width: 2rem;
}

.website-icon{
    width: 2.5rem;
}


// Hard Skills


.skills-title-container{
    position: relative;
    display: flex;
    width: 100%;

}

.skills-title{
    color: whitesmoke;
    margin: auto;
    margin-bottom: 0rem;
    font-family: var(--font-main);
    font-size: var(--font-size-title);
    position: relative;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.skill-text{
    color: whitesmoke;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: var(--font-accent);
    font-size: var(--font-size-main);
  }


  .skill-master-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    justify-content: center;
}

.skill-container-1 {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    border: 0.5px solid whitesmoke;
    color: whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  .skill-container-2{
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    border: 0.5px solid whitesmoke;
    color: whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    padding-bottom: 2rem;
  }


  
  .skills-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .skills-list li {
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem;
    border: 0.5px solid whitesmoke;
    color: whitesmoke;
    cursor: default;
    transition: all 0.1s ease-in-out;
    font-family: var(--font-accent);
    font-size: var(--font-size-accent);
  }


//   background experience

.exp-master-container{
    color: whitesmoke;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.exp-background{
    color: whitesmoke;
    text-align: center;
    padding-bottom: 0rem;
    font-family: var(--font-main);
    font-size: var(--font-size-title);
}

.exp-container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    border: 0.5px solid whitesmoke;
    color: whitesmoke;

    justify-content: center;
    margin-bottom: 2rem;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
}


.exp-title{
    font-family: var(--font-accent);
    font-size: var(--font-size-text);



}

.exp-text{

    font-family: var(--font-accent);
    font-size: var(--font-size-accent);

}







// Featured work

.feature-title{
    color: #F4F4F4;
    text-align: center;
    font-family: var(--font-main);
    font-size: var(--font-size-title);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.feature-container{
    display: flex;
    justify-content: center;
    height: auto;
    flex-direction: column;
    margin: auto;
}



.feature-box{

    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: auto;
    border-radius: 0.5rem;
    border: 0.5px solid whitesmoke;
    color: whitesmoke;
    border-radius: 0.5rem;
    justify-content: center;
    margin: auto;
    margin-bottom: 2rem;
}

.feature-name-featured{

    position: relative;
    display: flex;
    text-align: center;
    margin: auto;
    font-family: var(--font-main);
    font-size: var(--font-size-text);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

.feature-name{
    position: relative;
    display: flex;
    text-align: center;
    margin: auto;
    font-family: var(--font-main);
    font-size: var(--font-size-text);
    margin-top: 1rem;
}


// Learn More


.learnmore-master-container{

    font-family: var(--font-main);
    font-size: var(--font-size-accent);
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;

    a{
        // text-decoration: none;
        color: whitesmoke;
        margin-bottom: 1rem;
    }
}



// Portafolio

.portafolio-container{
    display: flex;
    justify-content: center;
    height: auto;
    flex-direction: column;
    margin: auto;
}









// Video Player

.video-box{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}


.arrow{
    position: absolute;
    display: flex;
    width: 15%;
    height: 15%;
    z-index: 1;
}

.thumbnail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.iframe-video{
    position: relative;
    height: 300px;
    width: 98%;
    margin: auto;
    z-index: 3;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}



// Show More Button

.feature-button {

    color: whitesmoke;
    background-color: black;
    height: 3.5rem;
    width: 90%;
    border: solid 1px;
    outline: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  

  .content {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    transition: height 0.5s ease;
    color: whitesmoke;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
  }

  .show {
    height: 300px;
  }
  
  .hide {
    height: 0px !important;
  }

  .learn-more-title{
    font-family: var(--font-accent);
    font-size: var(--font-size-text);


  }