@media (min-width: 768px) {


    /* lottie animation*/


    .profile-div{

        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

    }
    .happy-face{
        background-color: black;
        position: relative;
        width: 65%;
    }


    /* foto */
    .foto-div {
        position: relative;
        width: 100%;
    }

    .foto-img {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center; 
        margin: auto;
    }



// Hard Skills




.skills-title-container{
    position: relative;
    display: flex;
    width: 100%;

}
.skills-title{

    color: whitesmoke;
    margin: auto;
    margin-bottom: 0rem;
    font-family: var(--font-main);
    font-size: var(--font-size-title);
    position: relative;
    display: flex;
    margin-top: 2rem;
}

.skill-master-container{
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: center;
}

.skill-container-1 {

    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    border: 0.5px solid whitesmoke;
    color: whitesmoke;
    margin-right: 0.5rem;
    justify-content: center;
    padding-bottom: 2rem;
    margin-bottom: 0rem;

    flex: 1;
    flex-wrap: wrap;
  }

  .skill-container-2{

    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    border: 0.5px solid whitesmoke;
    color: whitesmoke;
    margin-left: 1rem;
    justify-content: center;
    padding-bottom: 2rem;

    flex: 1;
    flex-wrap: wrap;
  }

 // background exp


 .exp-master-container{
    color: whitesmoke;
    margin-top: 3rem;
    margin-bottom: 5rem;
 }

  .exp-background{
    color: whitesmoke;
    text-align: center;
    padding-bottom: 0rem;
    font-family: var(--font-main);
    font-size: var(--font-size-title);
}
.exp-container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    border: 0.5px solid whitesmoke;
    color: whitesmoke;

    justify-content: center;
    margin-bottom: 2rem;
    text-align: center;
    margin-left: 13%;
    margin-right: 13%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
}

}